<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title></title>
  </head>
  <body id="<%= result[0].id%>">
    <div class="container" id="detalles">
      Detalles de tu asesoría:
      <div class="card"> Materia:
        <div class="card-body">
          <%= result[0].subject%>
        </div>
      </div>
      <div class="card">
        <div class="card-body"> Descripción de la asesoría
          <%= result[0].description%>
        </div>
      </div>
      <div class="card">
        <div class="card-body"> Días en los que se imparte
          <%= result[0].days%>
        </div>
      </div>
      <div class="card">
        <div class="card-body"> Horario:
          <%= result[0].starts%> - <%result[0].ends%>
        </div>
      </div>
      <div class="card">
        <div class="card-body"> Salón
          <%= result[0].classroom%>
        </div>
      </div>
      <div class="card">
        <div class="card-body"> Cupo:
          <div id="cupo"><%= result[0].inscritos %>/<%= result[0].quota %></div>
        </div>
      </div>
    </div>
    <!-- Sólo para pasarlo a js -->
    <div id="pasar" style="color:white;"><%= JSON.stringify(result[1]); %></div>
    <div class="container"> Inscritos:
      <ul class="list-group" id="contenedorAceptado">
      </ul>
    </div>
    <div class="container"> Solicitudes:
      <ul class="list-group" id="contenedorPendiente">
      </ul>
    </div>
    <div class="container list-group">
      <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#modalELiminar">Eliminar asesoría</button>
    </div>
    <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" id="modalELiminar" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          ¿Estás seguro de que quieres eliminar esta asesoría?
          <button type="button" class="btn btn-danger" id="DESTROY">Eliminar</button>
        </div>
      </div>
    </div>
  </body>
  <script type="text/javascript" src="/js/insAse.js">  </script>
</html>
