<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
  </head>
  <body>
    <% ases = JSON.parse(advs);%>
    <% if (ases != ""){%>
      <div class="list-group">
        <% for (let adv of ases) {%>
          <div class="container" style="margin-top: 15px;">
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1"><%= adv.subject %></h5>
                <small><%= adv.starts%> - <%= adv.ends%></small>
              </div>
              <p class="mb-1"><%= adv.description %></p>
              <small><%= adv.days %></small>
            </a>
          </div>
        <% } %>
      </div>
    <% } else {%>
      <div class="container" style="margin-top:40%;"><div class="alert alert-warning">No hemos encontrado ninguna asesoría ):</div><div>
    <% } %>
  </body>
</html>
