<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
  </head>
  <body>
    <% if (ases != ""){%>
      <div class="list-group">
        <% for (let adv of ases) {%>
          <div class="container" style="margin-top: 15px;">
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1"><%= adv.subject %></h5>
                <small><%= adv.starts%> - <%= adv.ends%></small>
              </div>
              <p class="mb-1"><%= adv.description %></p>
              <small><%= adv.days %></small>
              <% console.log( adv.id) %>
              <button id="<%= adv.id%>" class="btn btn-outline my-sm-0 verAse" style="padding: 0;">Ver asesoría</button>
            </a>
          </div>
           <!-- data-toggle="modal" data-target="#modalAse" -->
        <% } %>
      </div>
    <% } else {%>
      <div class="container" style="margin-top:40%;"><div class="alert alert-warning">No hemos encontrado ninguna asesoría ):</div><div>
    <% } %>

  </body>
  <script type="text/javascript">
    var idAsesoriaActual;
    $(".verAse").on("click",(ev)=>{
      idAsesoriaActual = $(ev.target).parents()[1].id;

      let espera = new Promise ((resolve, reject)=>{
        console.log(idAsesoriaActual);
        $.ajax({
          url: "/see",
          method: "get",
          data: { idAdv : idAsesoriaActual}
        })
        .done((resp)=>{
          resolve(JSON.parse(resp))
        })
        .fail((error)=>{
          reject(error);
        })
      })
      .then((asesoria)=>{
        // console.log(asesoria);
        // console.log(asesoria[1].canRequest);
        $("#editarAse").remove();
        if ( asesoria[1].canRequest == "false") //Checar si se puede inscribir
          $("#soliAse").hide();
        else
          $("#soliAse").show();

        if( typeof asesoria[2] != "undefined" ){

          if ( asesoria[2].hasOwnProperty("IsProf"))
            $("#bodyModalAse").append("<button id=\"editarAse\" class=\"btn btn-outline my-sm-0\">Editar</button>");

          if ( asesoria[2].hasOwnProperty("estado")){
            $("#soliAse").hide();
            $("#bodyModalAse").append("<div class=\"card card-body\">Solicitud de asesoría: " + asesoria[2].estado +"</div>"); //Esto podría ser un ícono bello
          }

        }

        //Appendear a la modal el contenido de la asesoría
        $("#asesor").html("Asesor: " + asesoria[0].asesor); //Ya sé que da asco, pero lo intenté de mil formas y fracasé
        $("#subject").html("Asesoría sobre: " + asesoria[0].subject);
        $("#days").html("Días en los que se imparte: " + asesoria[0].days);
        $("#quota").html("Cupo: " + asesoria[0].quota);
        $("#horario").html("Horario:" + asesoria[0].starts +"-"+ asesoria[0].ends);
        $("#classroom").html("Salón: " + asesoria[0].classroom);
        var descripcion = (asesoria[0].description != "")? asesoria[0].description : "Esta asesoria no tiene descripción"
        $("#description").html("Descripción: " + descripcion);

        $("#modalAse").modal("show"); //Mostrar la modal con todo
      }).catch((err)=>{
        swal({ title: "Inténtalo más tarde", icon: "error" });
      });
    });

    //Solicitar asesorías
    $("#soliAse").on("click",()=>{
      $.ajax({
        url: "/request",
        data: { idAdv: idAsesoriaActual },
        method: "post"
      })
      .done(()=>{
        swal({ title: "Tu solicitud fue enviada, espera a que el asesor la conteste", icon: "success" });
      })
      .fail(()=>{
        swal({ title: "Inténtalo más tarde", icon: "error" });
      })
      .always(()=>{ $("#modalAse").modal("hide"); });
    })
  </script>
</html>
